@import "tailwindcss";

:root {
  /* Background & Foreground */
  --background: #ffffff;
  --background-dark: #000000;

  --foreground: #F7F9FC;
  --foreground-dark: #2C2F33;

  /* Primary & Accent Colors */
  --primary: #2E3A59;
  --primary-dark: #E8ECFF;

  --secondary:#F7F9FC;
  --secondary-dark:#2E3A59;

  --accent: #00B8A9;

  --line: #A2A2A2;

  /* Font Colors */
  --primary-text: #000000;
  --primary-text-dark: #FFFFFF;
  --secondary-text: #6C757D;
  --secondary-text-dark: #97A0A7;
  --brand-text: #2E3A59;
  --brand-text-dark: #E8ECFF;

  /* Status Colors */
  --warning: #E1BA60;
  --error: #C64E4E;
  --success: #77D5CE;

  /* Neutral Colors */
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  /* Spacing */
  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem;  /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem;    /* 16px */
  --space-5: 1.25rem; /* 20px */
  --space-6: 1.5rem;  /* 24px */
  --space-8: 2rem;    /* 32px */

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);

  /* Primary Palette */
  --color-primary: var(--primary);
  --color-primary-light: var(--primary);
  --color-primary-dark: var(--primary-dark);

  /* Secondary Palette */
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary);
  --color-secondary-dark: var(--secondary-dark);

  /* Accent Palette */
  --color-accent: var(--accent);
  --color-accent-light: var(--accent);
  --color-accent-dark: var(--accent);

  /* Text Colors */
  --color-primary-text: var(--primary-text);
  --color-primary-text-dark: var(--primary-text-dark);
  --color-secondary-text: var(--secondary-text);
  --color-secondary-text-dark: var(--secondary-text-dark);
  --color-brand-text: var(--brand-text);
  --color-brand-text-dark: var(--brand-text-dark);

  /* Status Colors */
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);

  --color-line: var(--line);

  /* Gray Palette */
  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);

  /* Spacing */
  --space-1: var(--space-1);
  --space-2: var(--space-2);
  --space-3: var(--space-3);
  --space-4: var(--space-4);
  --space-5: var(--space-5);
  --space-6: var(--space-6);
  --space-8: var(--space-8);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --foreground: var(--foreground-dark);

    /* Adjust colors for dark mode if needed */
    --primary: var(--primary-dark);
    --secondary: var(--secondary-dark);

    --primary-text: var(--primary-text-dark);
    --secondary-text: var(--secondary-text-dark);
    --brand-text: var(--brand-text-dark);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  color: var(--brand-text);
}

p {
  color: var(--primary-text)
}

main {
  background: var(--background);
  min-height: 100vh;
  padding: var(--space-6);
  display: flex;
  flex-direction: column;
}